@import '../../vars';

.container{
    background-color: $whiteblue ;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    border:  2px solid black;
    box-shadow: -2px 2px 0px rgba(0, 0, 0, 1);
    border-radius: 6px;
    // margin: 7px;
}