@import '../../vars';

.welcomeContainer {
    font-family: 'Luckiest Guy', sans-serif;
    background-color: $backroundColor;
    width: 100vw;
    height: 100vh;



    .top {
        display: flex;
        flex-direction: row;
        padding-bottom: 100px;
        padding-left: 20px;


        .o {
            filter: blur(2px);
            padding-left: 150px;
            padding-top: 60px;
        }

        .x {
            transform: rotate(-20deg);
            filter: blur(2px);
            padding-right: 20px;
            padding-top: 40px;
        }
    }

    .logo {
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        // margin-top: 250px;
        height: 210px;
        width: 300px;
        position: relative;
        // top: -10%;
        padding-left: 70px;
        //  left: 10%;
        //  padding-bottom: 230px;

        .img {
            height: 210px;
            width: 300px;
            z-index: 5;
            position: relative;
            top: 0;
        }

        .elips {
            position: absolute;
            top: -10px;
            // left: -10%;
            background-color: #23ACF9;
            opacity: 70%;
            border-radius: 50%;

            height: 230px;
            width: 330px;
            // transform: translateY(50%);
            filter: blur(20px);
        }
    }

    .bottom {
        display: flex;
        flex-direction: row;
        padding-top:50px;
        // padding-left: 5px;

        .o {
            transform: rotate(20deg);
            filter: blur(2px);
            padding-right: 20px;
        }

        .x {
            transform: rotate(27deg);
            filter: blur(3px);
            padding-left: 60px;
            // padding-top: 70px;
            // animation: moveRandomly 5s infinite alternate;
        }
    }

    // @keyframes moveRandomly {
    //     0% {
    //         transform: translate(0, 0);
    //     }
    //     50%{
    //         transform: translate(calc(50vw),calc(-10vh));
    //     }
    //     100% {
    //         transform: translate(calc(-50vw), calc(50vh));
    //     }
    // }
}