.setting {
    background-color: #3D7AD6;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .logo {

        height: 130px;
        width: 178px;
        position: relative;
        top: -60px;

        .img {
            height: 130px;
            width: 178px;
            z-index: 5;
            position: relative;
            top: 0;
        }

        .elips {
            position: absolute;
            top: -10%;
            left: -10%;
            background-color: #23ACF9;
            opacity: 70%;
            border-radius: 50%;
            height: 130%;
            width: 130%;
            // transform: translateY(50%);
            filter: blur(20px);
        }
    }

    .code {
        height: 40px;
        width: 320px;
        font-size: 60px;
        color: #bab9b9;
        text-shadow: 5px 0 #000000;
        letter-spacing: 10px;
        // align-items: center;
        // justify-content: center;
        text-align: center;
        top: -20%;
        border: none;
        outline: none;

    }

    .titel {
        font-size: 24px;
        color: white;
        text-shadow: 5px 0 #000000;
        text-align: center;
        // top: -20%;
        // padding-top: 100px;

    }



    .img {
        height: 130px;
        width: 178px;
        z-index: 5;
        position: relative;
        top: 0;
    }

    .avatar {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        border: #000000 solid 5px;
        height: 120px;
        width: 120px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }

    .btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        gap: 150px;
    }
}