@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../../vars';


.waiting {
    font-family: 'Luckiest Guy', sans-serif;
    // background-color: #3D7AD6;
    background-color: $backroundColor;
    height: 100vh;
    width: 100vw;

    .back {
        padding: 20px;
    }

    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        .titel {
            font-size: 20px;
            color: white;
            text-shadow: 5px 0 #000000;
            text-align: center;
         
            padding-top: 100px;
            
        }

        .code {
            height: 70px;
            width: 280px;
            font-size: 60px;
            color: #bab9b9;
            text-shadow: 5px 0 #000000;
            letter-spacing:15px;
            // align-items: center;
            // justify-content: center;
            text-align: center;
        }
    
        .spinner{
            padding:50px;
        }

        .titel2 {
            font-family: 'Luckiest Guy', sans-serif;
            font-size: 31px;
            color: white;
            text-shadow: 5px 0 #000000;
            text-align: center;
        }
    }

}