@import '../../vars';

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $backroundColor;

    .backButton {
        margin-left: 30px;
        margin-top: 30px;
    }

    .headlineWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .elipse {
            position: absolute;
            top: 0px;
            background-color: #23ACF9;
            border-radius: 50%;
            height: 100%;
            width: 70%;
            transform: translateY(10px);
            filter: blur(10px);
        }

        .text {
            color: white;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
            display: flex;
            z-index: 2;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            font-size: 36px;
        }
    }

    .table {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        // align-self: center;
        margin-top: 100px;
    }
}