@import '../../vars';

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $backroundColor;

    .backButton {
        margin-left: 30px;
        margin-top: 30px;
    }

    .headlineWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 100px;

        .elipse {
            position: absolute;
            top: 30%;
            left: 0;
            background-color: #23ACF9;
            opacity: 70%;
            border-radius: 50%;
            height: 80%;
            width: 100%;
            // transform: translateY(50%);
            filter: blur(20px);
        }

        .text {
            color: white;
            // -webkit-text-stroke-width: 2px;
            // -webkit-text-stroke-color: black;
            display: flex;
            z-index: 2;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            font-size: 36px;
            text-shadow: 5px 0 #000000;
        }
    }

    .table {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        margin-top: 60px;

        .clicked {
            transition: all ease-in-out 0.3s;
            transform: scale(2);
        }

        .notClicked {
            background-color: grey;
        }

        .innerClass {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 80px;
    }
}